.navbar
{

  min-height: 40px;
  /*background: rgb(180, 178, 178) url(https://raw.githubusercontent.com/jlarata/DefiendeLatorre/main/Assets/Materials/Mortero.png)
  no-repeat;*/
  background: var(--primary-color) url(https://raw.githubusercontent.com/jlarata/DefiendeLatorre/main/Assets/Materials/Mortero.png)
  no-repeat;
  background-size: 9%;
  background-position: 5%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;


}


.actions
{

  max-height: 40px;
  
  
}

.brand
{
  
  
}
